/* Reset default padding and margin
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 40%;
    height: 40%;
}
  

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: #333;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 15px;
    height: 30px;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar li a {
    color: blue;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px;
  }
  
  .navbar li a:hover {
    color: green;
    background-color: gray;
    border-radius: .5rem;
  }
  
  
  .container {
    padding: 20px;
    margin-top: 60px; 
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid gray;
  }
  

  @media screen and (max-width: 768px) {
    .navbar li {
      margin-right: 10px;
    }
  
    .container {
      padding: 10px;
    }
  
    th, td {
      padding: 6px;
    }
  
  }
  
  @media screen and (max-width: 576px) {
    .navbar li {
      margin-right: 5px;
    }
  
    .container {
      padding: 8px;
    }
  
    th, td {
      padding: 4px;
    }
  
  }
   */


   body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  /* Reset default padding and margin */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Set body font and background */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Style the navbar */
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: #333;
    color: white;
    z-index: 999;
    height: 12%;
    
  }
  
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
  }
  
  nav img {
    height: 40px;
    width: 120px;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px;
  }
  
  .navbar li a:hover {
    color: #72b840;
    background-color: #ffffff;
    border-radius: .5rem;
  }
  
  #login {
    background-color: #72b840;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #login:hover {
    background-color: #72b840;
  }
  
  /* Style the main content */
  .container {
    
    padding: 20px;
    margin-top: 60px; 
    margin-bottom: 2rem;
    
  
  }
  .container{
    margin-top: 5rem;
  }
  
  section {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 6px 6px 8px 2px rgba(114, 184, 64, 0.543);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid #72b840;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  .graphs{
    display: flex;
    justify-content: space-between;
    
  }
  
  /* Style the footer */
  footer {
    position: bottom;
    bottom: 0;
    width: 100%;
    height:4%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.6rem 0 ;
  }
  footer p{
    font-size: 20px;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    main{
      margin-bottom: 8%;
    }
    nav img {
      height: 40px;
      width: 120px;
    }
    .navbar li {
      margin-right: 10px;
    }
  
    #login {
      padding: 8px 16px;
      font-size: 14px;
    }
  
    .container {
      padding: 10px;
    }
  
    th, td {
      padding: 6px;
    }
  
    footer {
      padding: 8px;
    }
  }
  
  @media screen and (max-width: 576px) {
    main{
      margin-bottom: 8%;
    }
    nav img {
    height: 40px;
    width: 120px;
    }
    .navbar li {
      margin-right: 5px;
    }
  
    #login {
      padding: 6px 12px;
      font-size: 12px;
    }
  
    .container {
      padding: 8px;
    }
  
    th, td {
      padding: 4px;
    }
  
  
    footer {
      padding: 6px;
    }
  }
  